body {
  background-color: rgb(50, 60, 75);
}

h1 {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, sans-serif;
}

p {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-title {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, sans-serif;
  margin-left: 25px;
}

.links a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, sans-serif;
}