body {
    background-color: rgb(50, 60, 75);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, sans-serif;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, sans-serif;
}

.link {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, sans-serif;
}